.sunburst {
    width: 100%;
    height: 670px;
    margin:-11px -11px -11px -11px;
    background: #f79035;
}
.sunburst .outer {
    width: 3000px;
    height: 910px;
    padding-top: 1090px;
    margin: -800px 0 0 -940px;
    -webkit-animation-name: rotate1;
    -webkit-animation-duration:2s;
    -webkit-animation-iteration-count:infinite;
    -webkit-animation-timing-function:linear;
    -moz-animation-name: rotate1;
    -moz-animation-duration:2s;
    -moz-animation-iteration-count:infinite;
    -moz-animation-timing-function:linear;
}
.sunburst b {
    display: block;
    width: 0;
    height: 0;
    border-width: 90px 1500px;
    margin: -180px 0 0 0;
    border-color: transparent #e86e01;
    border-style: solid;
}
.sunburst b:nth-child(1) { -webkit-transform:rotate(20deg);  -moz-transform:rotate(20deg);  }
.sunburst b:nth-child(2) { -webkit-transform:rotate(40deg);  -moz-transform:rotate(40deg);  }
.sunburst b:nth-child(3) { -webkit-transform:rotate(60deg);  -moz-transform:rotate(60deg);  }
.sunburst b:nth-child(4) { -webkit-transform:rotate(80deg);  -moz-transform:rotate(80deg);  }
.sunburst b:nth-child(5) { -webkit-transform:rotate(100deg); -moz-transform:rotate(100deg); }
.sunburst b:nth-child(6) { -webkit-transform:rotate(120deg); -moz-transform:rotate(120deg); }
.sunburst b:nth-child(7) { -webkit-transform:rotate(140deg); -moz-transform:rotate(140deg); }
.sunburst b:nth-child(8) { -webkit-transform:rotate(160deg); -moz-transform:rotate(160deg); }
.sunburst b:nth-child(9) { -webkit-transform:rotate(180deg); -moz-transform:rotate(180deg); }
@-webkit-keyframes rotate1 {
    from { -webkit-transform: rotate(0deg); }
    to   { -webkit-transform: rotate(20deg); }
}
@-moz-keyframes rotate1 {
    from { -moz-transform: rotate(0deg); }
    to   { -moz-transform: rotate(20deg); }
}

#trophy-message-container {
    position: absolute;
    top: 10%;
    left: 5%;
    width: 90%;
    z-index: 90;
    overflow: hidden;
    border-radius: 1em;
    min-height: 26em;
    background: #fec983;
    border: #fb985d 3px solid;
    transition: all 1s;
    transform: scale(0.3, 0.3);
    -webkit-transform: scale(0.3, 0.3);
    -o-transform: scale(0.3, 0.3);
    -moz-transform: scale(0.3, 0.3);
}

#trophy-message {
    position: relative;
    padding: 2em 1em;
    z-index: 10;
    text-align: center;
    color: #111;
    text-shadow: #cecece 2px 2px;
}

#trophy-message h2 {
    font-size: 2em;
    margin: 1.4em 0 0.5em 0;
    font-weight: 800;
}

#trophy-message h3 {
    font-size: 2.5em;
    margin: 0;
    font-weight: 400;
}
#trophy-message p {
    color: #000;
    text-align: justify;
}

#trophy-message-container.popup {
    transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    -moz-transform: scale(1, 1);
}

#trophy-message-container.popout {
    transform: translate(-110%,0);
    -webkit-transform: translate(-110%,0);
    -o-transform: translate(-110%,0);
    -moz-transform: translate(-110%,0);
    transition: all 0.5s;
}